# Python Fundamentals

## Types and Sequences

In [3]:
type("This is a string")

str

In [4]:
type(None)

NoneType

In [5]:
type(1)

int

In [6]:
type(1.0)

float

In [7]:
def add_numbers(x, y):
    return x + y

add_numbers(1,2)

3

In [8]:
type(add_numbers)

function

In [9]:
x = (1, "hi", 2, "hey")
type(x)

tuple

In [11]:
x = [1, "hi", 2, "hey"]
type(x)

list

In [12]:
x.append(3.3)
x

[1, 'hi', 2, 'hey', 3.3]

In [14]:
i = 0

while i < len(x):
    print(x[i])
    i += 1

1
hi
2
hey
3.3

In [15]:
[1,2] + [3,4]

[1, 2, 3, 4]

In [16]:
[1] * 3

[1, 1, 1]

In [17]:
# in operator
1 in [1,2,3]

True

In [18]:
# slicing
first = "Christopher" 
second = "Brooks"

print(first + second)
print(first * 3)
print("Chris" in first)

ChristopherBrooks
ChristopherChristopherChristopher
True

In [19]:
first = "Noah Thomsen Kawasaki".split(" ")[0]
last = "Noah Thomsen Kawasaki".split(" ")[-1]

print(first)
print(last)

Noah
Kawasaki

In [198]:
# dictionaries
dict_names = {"Noah Kawasaki":"ntkawasaki@gmail.com", 
     "Nic Kawasaki":"nickawasaki@salesforce.com"}
dict_names["Noah Kawasaki"]

'ntkawasaki@gmail.com'

In [199]:
# iterate keys
for name in dict_names.keys():
    print(name)

Noah Kawasaki
Nic Kawasaki

In [200]:
# iterate values
for email in dict_names.values():
    print(email)

ntkawasaki@gmail.com
nickawasaki@salesforce.com

In [201]:
# iterate keys and values
for name, email in dict_names.items():
    print(name + " " + email)

Noah Kawasaki ntkawasaki@gmail.com
Nic Kawasaki nickawasaki@salesforce.com

In [26]:
# unpacking a tuple
x = ("Noah", "Kawasaki", "ntkawasaki@gmail.com")
first, last, email = x  # must assign same number of values to unpack
print(x)

('Noah', 'Kawasaki', 'ntkawasaki@gmail.com')

## More on Strings

In [27]:
print("Noah" + 2)

TypeError: must be str, not int

In [202]:
print("Noah " + str(2))

Noah 2

In [32]:
# formatting language
sales_record = {"price":3.24,
                "num_items":4,
                "person":"Noah"}

sales_statement = "{} bought {} items for a total of ${}".format(sales_record["person"], 
                                                                sales_record["num_items"],
                                                                (sales_record["num_items"]*sales_record["price"]))
print(sales_statement)

Noah bought 4 items for a total of $12.96

## Reading and Writing CSV Files

In [204]:
import csv
%precision 2

abs_path = "/Users/noahkawasaki/Desktop/Programs/Python/Applied Data Science with Python Specialization/Introduction to Data Science in Python/downloads/mpg.csv"

with open (absolute_path) as csv_file:
    mpg = list(csv.DictReader(csv_file))
    
# first 3 dictionaries in list
mpg[:3]

[OrderedDict([('', '1'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'auto(l5)'),
              ('drv', 'f'),
              ('cty', '18'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '2'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'manual(m5)'),
              ('drv', 'f'),
              ('cty', '21'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '3'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '2'),
              ('year', '2008'),
              ('cyl', '4'),
              ('trans', 'manual(m6)'),
              ('drv', 'f'),
              ('cty', '20'),
              ('hwy', '31'),
              ('fl', 'p'),
              ('class', 'compact')])]

In [34]:
# number of rows
len(mpg)

234

In [208]:
mpg[0].keys()
mpg[0].values()
mpg[0].items()

odict_items([('', '1'), ('manufacturer', 'audi'), ('model', 'a4'), ('displ', '1.8'), ('year', '1999'), ('cyl', '4'), ('trans', 'auto(l5)'), ('drv', 'f'), ('cty', '18'), ('hwy', '29'), ('fl', 'p'), ('class', 'compact')])

In [209]:
# average city mpg
# (must convert strings to float for math)
sum(float(row["cty"]) for row in mpg) / len(mpg)  # these are list comprehensions

16.86

In [210]:
# average highway mpg
sum(float(row["hwy"]) for row in mpg) / len(mpg)

23.44

In [211]:
# average city mpg, grouped by cylinders

# make set of cylinder types
# set(): Build an unordered collection of unique elements.
cylinders = set(row["cyl"] for row in mpg)
cylinders

{'4', '5', '6', '8'}

In [218]:
city_mpg_by_cyl = []

# iterate over each type of cylinder
for c in cylinders:
    sum_mpg = 0
    cylinder_count = 0
    
    # iterate over each row, if cyl equals current cylinder --> sum mpg and average over number of cyl count
    for row in mpg:
        if row["cyl"] == c:
            sum_mpg += float(row["cty"])
            cylinder_count += 1
        
    # append to list of tuples
    city_mpg_by_cyl.append((c, (sum_mpg/cylinder_count)))
    
# reorder by keys
city_mpg_by_cyl.sort(key=lambda x: x[0])
city_mpg_by_cyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

In [219]:
# average highway mpg by class of vehicle

vehicle_class = set(row["class"] for row in mpg)
vehicle_class

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [220]:
hwy_mpg_by_class = []

# iterate over each type of vehicle
for v in vehicle_class:
    sum_mpg = 0
    class_count = 0
    
    # iterate over each row, if class equals current class --> sum mpg and average over number of class count
    for row in mpg:
        if row["class"] == v:
            sum_mpg += float(row["hwy"])
            class_count += 1
        
    # append to list of tuples
    hwy_mpg_by_class.append((v, (sum_mpg/cylinder_count)))
    
# reorder by values
hwy_mpg_by_class.sort(key=lambda x: x[1])
hwy_mpg_by_class

[('2seater', 1.53),
 ('minivan', 3.04),
 ('pickup', 6.88),
 ('subcompact', 12.16),
 ('midsize', 13.81),
 ('suv', 13.88),
 ('compact', 16.42)]

## Dates and Times

In [47]:
import datetime as dt
import time as tm

In [48]:
# current time in seconds from epoch
tm.time()

1514148140.07

In [50]:
dt_now = dt.datetime.fromtimestamp(tm.time())
dt_now

datetime.datetime(2017, 12, 24, 10, 43, 54, 46766)

In [51]:
# attributes
dt_now.year, dt_now.month, dt_now.day, dt_now.hour, dt_now.minute, dt_now.second

(2017, 12, 24, 10, 43, 54)

In [53]:
delta = dt.timedelta(days=100)
delta

datetime.timedelta(100)

In [56]:
today = dt.date.today()
today

datetime.date(2017, 12, 24)

In [57]:
today - delta

datetime.date(2017, 9, 15)

In [58]:
today > today - delta

True

## Objects and map()

In [60]:
class Person():
    department = "School of Information"
    
    def set_name(self, name):
        self.name = name
    
    def set_location(self, location):
        self.location = location

In [63]:
person = Person()
person.set_name("Noah")
person.set_location("Hawaii")

print("{} lives in {} and works for the department: {}".format(person.name, person.location, person.department))

Noah lives in Hawaii and works for the department: School of Information

In [64]:
# map() function
# dont use () for functions

# Imagine we have two list of numbers, maybe prices from two different stores on exactly the same items. 
# And we wanted to find the minimum that we would have to pay if we bought the cheaper item between the two stores. 
# To do this, we could iterate through each list, comparing items and choosing the cheapest. 

store_1 = [10.00, 11.00, 12.34, 2.34]
store_2 = [9.00, 11.10, 12.34, 2.01]

cheapest = map(min, store_1, store_2)

In [222]:
# returns map object (lazy evaluation)
cheapest

In [68]:
# exercise
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    title = person.split()[0]
    lastname = person.split()[-1]
    
    return '{} {}'.format(title, lastname)

# map() runs a function on every item in a list
list(map(split_title_and_name, people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

## Lambda and List Comprehensions

In [223]:
# anonymous functions that are simple/short-lived so its easier to write out the function in one line

# You declare a lambda function with the word lambda followed by a list of arguments, followed by a colon 
# and then a single expression. There's only one expression to be evaluated in a lambda. 
# The expression value is returned on execution of the lambda.

In [226]:
my_function = lambda a, b, c : a + b

In [227]:
my_function(1, 2, 5)

3

In [90]:
# exercise: rewrite this function in a lambda expression
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]


# option 1
for person in people:
    print(split_title_and_name(person) == (lambda x: x.split()[0] + " " + x.split()[-1])(person))  # pass x value this way?

# option 2
list(map(split_title_and_name, people)) == list(map(lambda person: person.split()[0] + " " + person.split()[-1], people))

True
True
True
True

True

In [93]:
# list comprehensions
my_list = []

# for loop version
for num in range(0,100):
    if num % 2 == 0:
        my_list.append(num)
        
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [94]:
# list comprehension version
# formula: value, for loop, condition
my_list = [num for num in range(0,100) if num % 2 == 0]
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [229]:
# exercise: convert to list comprehension

def times_tables():
    lst = []
    for i in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst

# solution
times_tables() == [i*j for i in range(10) for j in range(10)]

True

In [99]:
# exercise: write list comprehension for all combos of two letters/two numbers

lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'

answer = [(l1 + l2 + d1 + d2) for l1 in lowercase for l2 in lowercase for d1 in digits for d2 in digits]
answer

['aa00',
 'aa01',
 'aa02',
 'aa03',
 'aa04',
 'aa05',
 'aa06',
 'aa07',
 'aa08',
 'aa09',
 'aa10',
 'aa11',
 'aa12',
 'aa13',
 'aa14',
 'aa15',
 'aa16',
 'aa17',
 'aa18',
 'aa19',
 'aa20',
 'aa21',
 'aa22',
 'aa23',
 'aa24',
 'aa25',
 'aa26',
 'aa27',
 'aa28',
 'aa29',
 'aa30',
 'aa31',
 'aa32',
 'aa33',
 'aa34',
 'aa35',
 'aa36',
 'aa37',
 'aa38',
 'aa39',
 'aa40',
 'aa41',
 'aa42',
 'aa43',
 'aa44',
 'aa45',
 'aa46',
 'aa47',
 'aa48',
 'aa49',
 'aa50',
 'aa51',
 'aa52',
 'aa53',
 'aa54',
 'aa55',
 'aa56',
 'aa57',
 'aa58',
 'aa59',
 'aa60',
 'aa61',
 'aa62',
 'aa63',
 'aa64',
 'aa65',
 'aa66',
 'aa67',
 'aa68',
 'aa69',
 'aa70',
 'aa71',
 'aa72',
 'aa73',
 'aa74',
 'aa75',
 'aa76',
 'aa77',
 'aa78',
 'aa79',
 'aa80',
 'aa81',
 'aa82',
 'aa83',
 'aa84',
 'aa85',
 'aa86',
 'aa87',
 'aa88',
 'aa89',
 'aa90',
 'aa91',
 'aa92',
 'aa93',
 'aa94',
 'aa95',
 'aa96',
 'aa97',
 'aa98',
 'aa99',
 'ab00',
 'ab01',
 'ab02',
 'ab03',
 'ab04',
 'ab05',
 'ab06',
 'ab07',
 'ab08',
 'ab09',
 'ab10',
 'ab11',
 'ab12',
 'ab13',
 'ab14',
 'ab15',
 'ab16',
 'ab17',
 'ab18',
 'ab19',
 'ab20',
 'ab21',
 'ab22',
 'ab23',
 'ab24',
 'ab25',
 'ab26',
 'ab27',
 'ab28',
 'ab29',
 'ab30',
 'ab31',
 'ab32',
 'ab33',
 'ab34',
 'ab35',
 'ab36',
 'ab37',
 'ab38',
 'ab39',
 'ab40',
 'ab41',
 'ab42',
 'ab43',
 'ab44',
 'ab45',
 'ab46',
 'ab47',
 'ab48',
 'ab49',
 'ab50',
 'ab51',
 'ab52',
 'ab53',
 'ab54',
 'ab55',
 'ab56',
 'ab57',
 'ab58',
 'ab59',
 'ab60',
 'ab61',
 'ab62',
 'ab63',
 'ab64',
 'ab65',
 'ab66',
 'ab67',
 'ab68',
 'ab69',
 'ab70',
 'ab71',
 'ab72',
 'ab73',
 'ab74',
 'ab75',
 'ab76',
 'ab77',
 'ab78',
 'ab79',
 'ab80',
 'ab81',
 'ab82',
 'ab83',
 'ab84',
 'ab85',
 'ab86',
 'ab87',
 'ab88',
 'ab89',
 'ab90',
 'ab91',
 'ab92',
 'ab93',
 'ab94',
 'ab95',
 'ab96',
 'ab97',
 'ab98',
 'ab99',
 'ac00',
 'ac01',
 'ac02',
 'ac03',
 'ac04',
 'ac05',
 'ac06',
 'ac07',
 'ac08',
 'ac09',
 'ac10',
 'ac11',
 'ac12',
 'ac13',
 'ac14',
 'ac15',
 'ac16',
 'ac17',
 'ac18',
 'ac19',
 'ac20',
 'ac21',
 'ac22',
 'ac23',
 'ac24',
 'ac25',
 'ac26',
 'ac27',
 'ac28',
 'ac29',
 'ac30',
 'ac31',
 'ac32',
 'ac33',
 'ac34',
 'ac35',
 'ac36',
 'ac37',
 'ac38',
 'ac39',
 'ac40',
 'ac41',
 'ac42',
 'ac43',
 'ac44',
 'ac45',
 'ac46',
 'ac47',
 'ac48',
 'ac49',
 'ac50',
 'ac51',
 'ac52',
 'ac53',
 'ac54',
 'ac55',
 'ac56',
 'ac57',
 'ac58',
 'ac59',
 'ac60',
 'ac61',
 'ac62',
 'ac63',
 'ac64',
 'ac65',
 'ac66',
 'ac67',
 'ac68',
 'ac69',
 'ac70',
 'ac71',
 'ac72',
 'ac73',
 'ac74',
 'ac75',
 'ac76',
 'ac77',
 'ac78',
 'ac79',
 'ac80',
 'ac81',
 'ac82',
 'ac83',
 'ac84',
 'ac85',
 'ac86',
 'ac87',
 'ac88',
 'ac89',
 'ac90',
 'ac91',
 'ac92',
 'ac93',
 'ac94',
 'ac95',
 'ac96',
 'ac97',
 'ac98',
 'ac99',
 'ad00',
 'ad01',
 'ad02',
 'ad03',
 'ad04',
 'ad05',
 'ad06',
 'ad07',
 'ad08',
 'ad09',
 'ad10',
 'ad11',
 'ad12',
 'ad13',
 'ad14',
 'ad15',
 'ad16',
 'ad17',
 'ad18',
 'ad19',
 'ad20',
 'ad21',
 'ad22',
 'ad23',
 'ad24',
 'ad25',
 'ad26',
 'ad27',
 'ad28',
 'ad29',
 'ad30',
 'ad31',
 'ad32',
 'ad33',
 'ad34',
 'ad35',
 'ad36',
 'ad37',
 'ad38',
 'ad39',
 'ad40',
 'ad41',
 'ad42',
 'ad43',
 'ad44',
 'ad45',
 'ad46',
 'ad47',
 'ad48',
 'ad49',
 'ad50',
 'ad51',
 'ad52',
 'ad53',
 'ad54',
 'ad55',
 'ad56',
 'ad57',
 'ad58',
 'ad59',
 'ad60',
 'ad61',
 'ad62',
 'ad63',
 'ad64',
 'ad65',
 'ad66',
 'ad67',
 'ad68',
 'ad69',
 'ad70',
 'ad71',
 'ad72',
 'ad73',
 'ad74',
 'ad75',
 'ad76',
 'ad77',
 'ad78',
 'ad79',
 'ad80',
 'ad81',
 'ad82',
 'ad83',
 'ad84',
 'ad85',
 'ad86',
 'ad87',
 'ad88',
 'ad89',
 'ad90',
 'ad91',
 'ad92',
 'ad93',
 'ad94',
 'ad95',
 'ad96',
 'ad97',
 'ad98',
 'ad99',
 'ae00',
 'ae01',
 'ae02',
 'ae03',
 'ae04',
 'ae05',
 'ae06',
 'ae07',
 'ae08',
 'ae09',
 'ae10',
 'ae11',
 'ae12',
 'ae13',
 'ae14',
 'ae15',
 'ae16',
 'ae17',
 'ae18',
 'ae19',
 'ae20',
 'ae21',
 'ae22',
 'ae23',
 'ae24',
 'ae25',
 'ae26',
 'ae27',
 'ae28',
 'ae29',
 'ae30',
 'ae31',
 'ae32',
 'ae33',
 'ae34',
 'ae35',
 'ae36',
 'ae37',
 'ae38',
 'ae39',
 'ae40',
 'ae41',
 'ae42',
 'ae43',
 'ae44',
 'ae45',
 'ae46',
 'ae47',
 'ae48',
 'ae49',
 'ae50',
 'ae51',
 'ae52',
 'ae53',
 'ae54',
 'ae55',
 'ae56',
 'ae57',
 'ae58',
 'ae59',
 'ae60',
 'ae61',
 'ae62',
 'ae63',
 'ae64',
 'ae65',
 'ae66',
 'ae67',
 'ae68',
 'ae69',
 'ae70',
 'ae71',
 'ae72',
 'ae73',
 'ae74',
 'ae75',
 'ae76',
 'ae77',
 'ae78',
 'ae79',
 'ae80',
 'ae81',
 'ae82',
 'ae83',
 'ae84',
 'ae85',
 'ae86',
 'ae87',
 'ae88',
 'ae89',
 'ae90',
 'ae91',
 'ae92',
 'ae93',
 'ae94',
 'ae95',
 'ae96',
 'ae97',
 'ae98',
 'ae99',
 'af00',
 'af01',
 'af02',
 'af03',
 'af04',
 'af05',
 'af06',
 'af07',
 'af08',
 'af09',
 'af10',
 'af11',
 'af12',
 'af13',
 'af14',
 'af15',
 'af16',
 'af17',
 'af18',
 'af19',
 'af20',
 'af21',
 'af22',
 'af23',
 'af24',
 'af25',
 'af26',
 'af27',
 'af28',
 'af29',
 'af30',
 'af31',
 'af32',
 'af33',
 'af34',
 'af35',
 'af36',
 'af37',
 'af38',
 'af39',
 'af40',
 'af41',
 'af42',
 'af43',
 'af44',
 'af45',
 'af46',
 'af47',
 'af48',
 'af49',
 'af50',
 'af51',
 'af52',
 'af53',
 'af54',
 'af55',
 'af56',
 'af57',
 'af58',
 'af59',
 'af60',
 'af61',
 'af62',
 'af63',
 'af64',
 'af65',
 'af66',
 'af67',
 'af68',
 'af69',
 'af70',
 'af71',
 'af72',
 'af73',
 'af74',
 'af75',
 'af76',
 'af77',
 'af78',
 'af79',
 'af80',
 'af81',
 'af82',
 'af83',
 'af84',
 'af85',
 'af86',
 'af87',
 'af88',
 'af89',
 'af90',
 'af91',
 'af92',
 'af93',
 'af94',
 'af95',
 'af96',
 'af97',
 'af98',
 'af99',
 'ag00',
 'ag01',
 'ag02',
 'ag03',
 'ag04',
 'ag05',
 'ag06',
 'ag07',
 'ag08',
 'ag09',
 'ag10',
 'ag11',
 'ag12',
 'ag13',
 'ag14',
 'ag15',
 'ag16',
 'ag17',
 'ag18',
 'ag19',
 'ag20',
 'ag21',
 'ag22',
 'ag23',
 'ag24',
 'ag25',
 'ag26',
 'ag27',
 'ag28',
 'ag29',
 'ag30',
 'ag31',
 'ag32',
 'ag33',
 'ag34',
 'ag35',
 'ag36',
 'ag37',
 'ag38',
 'ag39',
 'ag40',
 'ag41',
 'ag42',
 'ag43',
 'ag44',
 'ag45',
 'ag46',
 'ag47',
 'ag48',
 'ag49',
 'ag50',
 'ag51',
 'ag52',
 'ag53',
 'ag54',
 'ag55',
 'ag56',
 'ag57',
 'ag58',
 'ag59',
 'ag60',
 'ag61',
 'ag62',
 'ag63',
 'ag64',
 'ag65',
 'ag66',
 'ag67',
 'ag68',
 'ag69',
 'ag70',
 'ag71',
 'ag72',
 'ag73',
 'ag74',
 'ag75',
 'ag76',
 'ag77',
 'ag78',
 'ag79',
 'ag80',
 'ag81',
 'ag82',
 'ag83',
 'ag84',
 'ag85',
 'ag86',
 'ag87',
 'ag88',
 'ag89',
 'ag90',
 'ag91',
 'ag92',
 'ag93',
 'ag94',
 'ag95',
 'ag96',
 'ag97',
 'ag98',
 'ag99',
 'ah00',
 'ah01',
 'ah02',
 'ah03',
 'ah04',
 'ah05',
 'ah06',
 'ah07',
 'ah08',
 'ah09',
 'ah10',
 'ah11',
 'ah12',
 'ah13',
 'ah14',
 'ah15',
 'ah16',
 'ah17',
 'ah18',
 'ah19',
 'ah20',
 'ah21',
 'ah22',
 'ah23',
 'ah24',
 'ah25',
 'ah26',
 'ah27',
 'ah28',
 'ah29',
 'ah30',
 'ah31',
 'ah32',
 'ah33',
 'ah34',
 'ah35',
 'ah36',
 'ah37',
 'ah38',
 'ah39',
 'ah40',
 'ah41',
 'ah42',
 'ah43',
 'ah44',
 'ah45',
 'ah46',
 'ah47',
 'ah48',
 'ah49',
 'ah50',
 'ah51',
 'ah52',
 'ah53',
 'ah54',
 'ah55',
 'ah56',
 'ah57',
 'ah58',
 'ah59',
 'ah60',
 'ah61',
 'ah62',
 'ah63',
 'ah64',
 'ah65',
 'ah66',
 'ah67',
 'ah68',
 'ah69',
 'ah70',
 'ah71',
 'ah72',
 'ah73',
 'ah74',
 'ah75',
 'ah76',
 'ah77',
 'ah78',
 'ah79',
 'ah80',
 'ah81',
 'ah82',
 'ah83',
 'ah84',
 'ah85',
 'ah86',
 'ah87',
 'ah88',
 'ah89',
 'ah90',
 'ah91',
 'ah92',
 'ah93',
 'ah94',
 'ah95',
 'ah96',
 'ah97',
 'ah98',
 'ah99',
 'ai00',
 'ai01',
 'ai02',
 'ai03',
 'ai04',
 'ai05',
 'ai06',
 'ai07',
 'ai08',
 'ai09',
 'ai10',
 'ai11',
 'ai12',
 'ai13',
 'ai14',
 'ai15',
 'ai16',
 'ai17',
 'ai18',
 'ai19',
 'ai20',
 'ai21',
 'ai22',
 'ai23',
 'ai24',
 'ai25',
 'ai26',
 'ai27',
 'ai28',
 'ai29',
 'ai30',
 'ai31',
 'ai32',
 'ai33',
 'ai34',
 'ai35',
 'ai36',
 'ai37',
 'ai38',
 'ai39',
 'ai40',
 'ai41',
 'ai42',
 'ai43',
 'ai44',
 'ai45',
 'ai46',
 'ai47',
 'ai48',
 'ai49',
 'ai50',
 'ai51',
 'ai52',
 'ai53',
 'ai54',
 'ai55',
 'ai56',
 'ai57',
 'ai58',
 'ai59',
 'ai60',
 'ai61',
 'ai62',
 'ai63',
 'ai64',
 'ai65',
 'ai66',
 'ai67',
 'ai68',
 'ai69',
 'ai70',
 'ai71',
 'ai72',
 'ai73',
 'ai74',
 'ai75',
 'ai76',
 'ai77',
 'ai78',
 'ai79',
 'ai80',
 'ai81',
 'ai82',
 'ai83',
 'ai84',
 'ai85',
 'ai86',
 'ai87',
 'ai88',
 'ai89',
 'ai90',
 'ai91',
 'ai92',
 'ai93',
 'ai94',
 'ai95',
 'ai96',
 'ai97',
 'ai98',
 'ai99',
 'aj00',
 'aj01',
 'aj02',
 'aj03',
 'aj04',
 'aj05',
 'aj06',
 'aj07',
 'aj08',
 'aj09',
 'aj10',
 'aj11',
 'aj12',
 'aj13',
 'aj14',
 'aj15',
 'aj16',
 'aj17',
 'aj18',
 'aj19',
 'aj20',
 'aj21',
 'aj22',
 'aj23',
 'aj24',
 'aj25',
 'aj26',
 'aj27',
 'aj28',
 'aj29',
 'aj30',
 'aj31',
 'aj32',
 'aj33',
 'aj34',
 'aj35',
 'aj36',
 'aj37',
 'aj38',
 'aj39',
 'aj40',
 'aj41',
 'aj42',
 'aj43',
 'aj44',
 'aj45',
 'aj46',
 'aj47',
 'aj48',
 'aj49',
 'aj50',
 'aj51',
 'aj52',
 'aj53',
 'aj54',
 'aj55',
 'aj56',
 'aj57',
 'aj58',
 'aj59',
 'aj60',
 'aj61',
 'aj62',
 'aj63',
 'aj64',
 'aj65',
 'aj66',
 'aj67',
 'aj68',
 'aj69',
 'aj70',
 'aj71',
 'aj72',
 'aj73',
 'aj74',
 'aj75',
 'aj76',
 'aj77',
 'aj78',
 'aj79',
 'aj80',
 'aj81',
 'aj82',
 'aj83',
 'aj84',
 'aj85',
 'aj86',
 'aj87',
 'aj88',
 'aj89',
 'aj90',
 'aj91',
 'aj92',
 'aj93',
 'aj94',
 'aj95',
 'aj96',
 'aj97',
 'aj98',
 'aj99',
 ...]

## NumPy
Fundamental package for scientific computing

In [230]:
import numpy as np

In [231]:
# create array
my_list = [1, 2, 3]
x = np.array(my_list)
x

array([1, 2, 3])

In [103]:
# put list directly into np.array()
y = np.array([4, 5, 6])
y

array([4, 5, 6])

In [105]:
# two dimensional array
m = np.array([[7, 8, 9], [10, 11, 12]])
m

array([[ 7,  8,  9],
       [10, 11, 12]])

In [107]:
# shape of array in dimensions
m.shape

(2, 3)

In [109]:
n = np.arange(0, 30, 2)
n

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

In [233]:
# temporary reshaping for output
n.reshape(3, 5)

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18],
       [20, 22, 24, 26, 28]])

In [112]:
# over an interval
o = np.linspace(0, 4, 9)
o

array([ 0. ,  0.5,  1. ,  1.5,  2. ,  2.5,  3. ,  3.5,  4. ])

In [235]:
# resize() changes the shape of the array permanently
o.resize(3, 3)
o

array([[ 0. ,  0.5,  1. ],
       [ 1.5,  2. ,  2.5],
       [ 3. ,  3.5,  4. ]])

In [117]:
np.ones((3, 2))

array([[ 1.,  1.],
       [ 1.,  1.],
       [ 1.,  1.]])

In [118]:
np.zeros((2,3))

array([[ 0.,  0.,  0.],
       [ 0.,  0.,  0.]])

In [121]:
np.eye(3)

array([[ 1.,  0.,  0.],
       [ 0.,  1.,  0.],
       [ 0.,  0.,  1.]])

In [236]:
y

array([4, 5, 6])

In [237]:
np.diag(y)

array([[4, 0, 0],
       [0, 5, 0],
       [0, 0, 6]])

In [238]:
np.array([1, 2, 3] * 3)

array([1, 2, 3, 1, 2, 3, 1, 2, 3])

In [239]:
np.repeat([1, 2, 3], 3)

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

In [126]:
# stacking arrays
p = np.ones([2, 3], int)
p

array([[1, 1, 1],
       [1, 1, 1]])

In [127]:
np.vstack([p, p*2])

array([[1, 1, 1],
       [1, 1, 1],
       [2, 2, 2],
       [2, 2, 2]])

In [128]:
np.hstack([p, p*2])

array([[1, 1, 1, 2, 2, 2],
       [1, 1, 1, 2, 2, 2]])

### Operations

In [240]:
x

array([1, 2, 3])

In [241]:
y

array([4, 5, 6])

In [129]:
x + y

array([5, 7, 9])

In [130]:
x * y

array([ 4, 10, 18])

In [131]:
x ** 2

array([1, 4, 9])

In [132]:
# summation of xi*yi
x.dot(y)

32

In [140]:
z = np.array([y, y**2])
z

array([[ 4,  5,  6],
       [16, 25, 36]])

In [141]:
z.shape

(2, 3)

In [142]:
# transpose
z.T.shape

(3, 2)

In [146]:
# datatype attribute
z.dtype

dtype('int64')

In [242]:
z = z.astype("float")
z.dtype
print(z)

[[  4.   5.   6.]
 [ 16.  25.  36.]]

In [148]:
a = np.array([-4, -2, 1, 3, 5])
a

array([-4, -2,  1,  3,  5])

In [243]:
# aggregate functions

In [155]:
a.sum()

3

In [156]:
a.max()

5

In [157]:
a.min()

-4

In [158]:
a.mean()

0.60

In [159]:
a.std()

3.26

In [160]:
# index of highest value
a.argmax()

4

In [161]:
# index of lowest value
a.argmin()

0

### Indexing and Slicing

In [163]:
s = np.arange(13) ** 2
s

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144])

In [164]:
s[0], s[4], s[:3]

(0, 16, array([0, 1, 4]))

In [165]:
s[1:5]

array([ 1,  4,  9, 16])

In [167]:
s[-4:]

array([ 81, 100, 121, 144])

In [168]:
# reverse sliced
s[-5::-2]

array([64, 36, 16,  4,  0])

In [170]:
# slicing two dimensional arrays
r = np.arange(36)
r.resize((6,6))
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [171]:
r[2, 2]

14

In [172]:
r[3, 3:6]

array([21, 22, 23])

In [173]:
r[:2, :-1]

array([[ 0,  1,  2,  3,  4],
       [ 6,  7,  8,  9, 10]])

In [174]:
r[-1:, ::2]

array([[30, 32, 34]])

In [175]:
# conditions
r[r > 30]

array([31, 32, 33, 34, 35])

In [177]:
# set max to 30
r[r > 30] = 30
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [179]:
r2 = r[:3, :3]
r2

array([[ 0,  1,  2],
       [ 6,  7,  8],
       [12, 13, 14]])

In [180]:
r2[:] = 0
r2

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [181]:
# remember that arrays referencing other arrays affect the original array
r

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [182]:
# to make a copy
r_copy = r.copy()
r_copy

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [183]:
# now r wont be affected
r_copy[:] = 10
print(r_copy)
print()
print(r)

[[10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]]

[[ 0  0  0  3  4  5]
 [ 0  0  0  9 10 11]
 [ 0  0  0 15 16 17]
 [18 19 20 21 22 23]
 [24 25 26 27 28 29]
 [30 30 30 30 30 30]]

In [184]:
# exercise: what will the output be?
old = np.array([[1, 1, 1],
                [1, 1, 1]])

new = old
new[0, :2] = 0

# ([0, 0, 1],
#  [1, 1, 1])

print(old)

[[0 0 1]
 [1 1 1]]

### Iterating over Arrays

In [244]:
test = np.random.randint(low=0, high=10, size=(4, 3))
test

array([[9, 6, 0],
       [5, 2, 7],
       [4, 1, 2],
       [5, 6, 3]])

In [191]:
# value
for row in test:
    print(row)

[2 6 0]
[1 8 6]
[1 4 9]
[9 5 3]

In [188]:
# indices
for i in range(len(test)):
    print(test[i])

[2 6 0]
[1 8 6]
[1 4 9]
[9 5 3]

In [189]:
# both
for i, row in enumerate(test):
    print("row", i, "is", row)

row 0 is [2 6 0]
row 1 is [1 8 6]
row 2 is [1 4 9]
row 3 is [9 5 3]

In [192]:
test_2 = test**2
test_2

array([[ 4, 36,  0],
       [ 1, 64, 36],
       [ 1, 16, 81],
       [81, 25,  9]])

In [245]:
# zip(): Make an iterator that aggregates elements from each of the iterables.
zip(test, test_2)

In [246]:
for i, j in zip(test, test_2):
    print(i, "+", j, "=", i + j)

[9 6 0] + [ 4 36  0] = [13 42  0]
[5 2 7] + [ 1 64 36] = [ 6 66 43]
[4 1 2] + [ 1 16 81] = [ 5 17 83]
[5 6 3] + [81 25  9] = [86 31 12]